// sass main.scss ../style.min.css --style=compressed


// paletas de colores 

$theme-baby-blue :  #BFD7ED;
$theme-blue-grotto: #60A3D9;
$theme-royal-blue:  #0074B7;
$theme-navy-blue:   #003B73;


// import

@import "skeleton";